// * footer top
#footer-top {
    @include background-reset;
    background-image: url("../../images/footer-bg.jpg");
    color: #fff;
    overflow: hidden;

    .container {
        @include flex("between");
        padding: 30px 0;
        position: relative;

        .footer-list-container {
            @include flex();

            .footer-list-col {
                padding: 0 15px;

                h3 {
                    font-size: 20px;
                    text-transform: uppercase;
                }

                ul {
                    @include list-reset;
                    padding: 8px 0;

                    li a {
                        font-size: 12px;
                        font-weight: bold;
                        color: $list-grey;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        figure {
            position: absolute;
            right: 0;
            top: -100px;
        }
    }
}

// * footer bottom
#footer-bottom {
    background-color: $footer-grey;
    padding: 20px 0;
}

.container {
    @include flex("between", "center");

    .footer-btn {
        background-color: transparent;
        color: #fff;
        text-transform: uppercase;
        border: 3px solid $blue;
        padding: 10px 15px;
        font-weight: bold;
    }

    .footer-links {
        @include flex("around", "center");

        a {
            text-decoration: none;
            padding: 0 5px;

            &:first-child {
                color: $blue;
                text-transform: uppercase;
                font-weight: bold;
                padding-right: 15px;
            }
        }
    }
}
